# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfplan

# Keep the lockfile (recommended)
!/.terraform.lock.hcl


https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgithub%2Fgitignore%2Fblob%2Fmain%2FTerraform.gitignore&data=05%7C02%7C%7Cac269f6c42e148ef4e4708ddecb23c6f%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638926972452198294%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=LeZ8s26Wk5Puko7ClXiITol1JxwR1JwA39E0uF0KH9w%3D&reserved=0